<div class="w-20 relative z-20 flex-shrink-0  px-2 overflow-y-auto bg-indigo-600 sm:block">
    <div class="mb-6">
        <div class="flex justify-center">
          <div class="w-14 h-14 rounded-full bg-gray-300 border-2 border-white mt-2">
            <img 
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVxhAxJ4D7MOeTTj6kR9PBeZonW5HM7giKjTbEmR-HMBwf3G1VqGnlwpO1kWrdyIZu8_U&usqp=CAU" 
             class="rounded-full w-auto"
            />
          </div>
        </div>
        <div>
          <ul class="mt-6 leading-10 px-4">
            <a href="/admin"class="mb-3 p-2 rounded-md flex items-center justify-center bg-blue-400 cursor-pointer">
              <i class="fas fa-home fa-sm text-white"></i>
            </a>
            <a href="/admin/list"class="mb-3 p-2 rounded-md flex items-center justify-center bg-pink-400 cursor-pointer">
              <i class="fas fa-plus-square fa-sm text-white"></i>
            </a>
            <a href="#"class="mb-3 p-2 rounded-md flex items-center justify-center bg-yellow-400 cursor-pointer">
              <i class="fas fa-headphones fa-sm text-white"></i>
            </a>
            <a href="/user/logout" class="absolute bottom-0 mb-3 p-2 rounded-full flex items-center mx-auto bg-white cursor-pointer">
              <i class="fas fa-power-off fa-sm text-indigo-600"></i>
            </a>
          </ul>
        </div>
    </div>
</div>