    <header class="bg-white">
        <div class="container mx-auto px-6 py-3">
            <div class="flex items-center justify-between">
                <div class="md:flex justify-start w-full text-gray-700 md:text-center text-2xl font-semibold">
                    Mawar Lebah
                </div>
                <nav class="sm:flex sm:justify-center sm:items-center">
                    <div class="flex flex-col sm:flex-row">
                        <a class="mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="/">Home</a>
                        <a class="mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="/home/shop">Shop</a>
                        <a class="mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#">Categories</a>
                        <a class="mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#">Contact</a>
                        <a class="mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#">About</a>
                    </div>
                </nav>
                <div class="flex items-center justify-end w-full mb-4">
                    <div class="flex flex-col sm:flex-row">
                        <a href="/user/login">sign in </a>
                        <a class ="sm:mx-3" href="/user/register">register</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>